<!doctype html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,900|Holtwood+One+SC|Cormorant+Upright" rel="stylesheet">
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.chunks.main.css %>">
  </head>
  <body>
    <div class="background--first">
    </div>
    <div class="background--second">
    </div>
    <div class="background--third">
    </div>

    <div class="self">
        Shailendra Kumar Verma
    </div>
    <div class="introduction">
      an eclectic individual pursuing humanistic beliefs; web egalatarian; amateur photographer and nature lover;
    </div>
    <!-- <div class="motd__container">
      <h3 class="motd__heading"></h3>
      <article class="motd__content">
        hi
      </article>
    </div> -->
    <script src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"></script>
  </body>
</html>
